* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

#hero {
    background-color: rgb(43, 42, 42);
    color: white;
    height: 100%;
    padding-bottom: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(43, 42, 42);
    z-index: 99;
}

.header>.navlinks {
    display: flex;
    justify-content: space-between;
}

.navlinks li a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

.navlinks li a:hover {
    color: #06e0f0;
}

#element {
    color: #06e0f0;
}

.hero-main {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    padding: 5% 0;
}

.hero-main-txt {
    padding: 50px 0;
    padding-top: 70px;
    width: 40%;
}

.hero-main-txt h1 {
    margin-left: 5px;
    font-size: 2rem;
}

.hero-main-txt h2 {
    font-size: 1.125rem;
}

.hero-main-txt p {
    margin: 12px 0;
    font-size: 0.75rem;
    color: grey;
}

.social {
    display: flex;
    gap: 12px;
    margin: 10px 0;
}

#hero .fa-brands, .fa-solid {
    font-size: 1.25rem;
    padding: 8px;
    border: 1px solid #06e0f0;
    border-radius: 50%;
    margin-bottom: 20px;
    color: #06e0f0;
}

#hero .fa-brands:hover, .fa-solid:hover {
    background-color: #06e0f0;
    color: rgb(43, 42, 42);
    ;
}

.cv {
    margin-top: 20px;
    background-color: #06e0f0;
    color: rgb(43, 42, 42);
    text-decoration: none;
    padding: 10px;
    border-radius: 5rem;
}

.cv:hover {
    background-color: #0accda;
}

.hero-main-img {
    width: 50%;
    display: flex;
    justify-content: center;
}

.hero-main-img img {
    width: 420px;
}

#about {
    background-color: rgb(55 53 53);
    height: 100%;
    padding: 20px 0;
    color: white;

}

.about-main {
    width: 85%;
    margin: auto;
    display: flex;
    gap: 25px;
}

.about-main-img {
    width: 200px;
}

.about-main-img img {
    padding: 70px 0;
    width: 200px;
}

.about-main-txt {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bluecolor {
    color: #06e0f0;
}

.about-main-txt h1 {
    font-size: 2rem;
}

.about-main-txt h2 {
    font-size: 1.125rem;
    margin-left: 5px;
}

.about-main-txt p {
    font-size: 0.75rem;
    color: gray;
    margin-top: 10px;
}

.about-btn {
    width: 130px;
    text-align: center;
}

#skills {
    background-color: rgb(43, 42, 42);
    color: white;
    padding: 50px 0;
}

.skill-main {
    width: 85%;
    margin: auto;
}

.skill-main>h1 {
    font-size: 2rem;
}

.skill-main>p {
    color: gray;
    font-size: 0.75rem;
}

.skill-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    justify-content: space-between;
    row-gap: 30px;
}

.skill {
    max-width: 45%;
}

#skills .fa-solid, .fa-brands {
    font-size: 1.35rem;
    padding: 12px 10px;
    border: 1px solid #06e0f0;
    border-radius: 50%;
    color: #06e0f0;
    margin-bottom: 0;
}

#skills .fa-brands {
    font-size: 1.5rem;
    padding: 12px;
}

.skill>h2 {
    font-size: 1.25rem;
    margin: 10px 0;
}

.skill>p {
    font-size: 0.875rem;
    color: gray;
}

#project {
    background-color: rgb(55 53 53);
    height: 100%;
    padding: 50px 0;
    color: white;
}

.project-main {
    width: 85%;
    margin: auto;
}

.project-main>h1 {
    font-size: 2rem;
    text-align: center;
}

.project-main>p {
    font-size: 0.75rem;
    color: gray;
    text-align: center;
}

.project-flex {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.project {
    position: relative;
    width: calc(33% - 20px);
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px #16b5c0;
}

.project-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    height: 100%;
}

.project-txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    padding-top: 30px;
    padding-left: 30px;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.project:hover{
    box-shadow: 0 0 15px #16b5c0;
}

.project:hover .project-img {
    transform: scale(1.1);
}

.project:hover .project-txt {
    transform: translateY(0);
}

.project img {
    width: 100%;
    height: 100%;
}

.project h2 {
    font-size: 18px;
    margin: 0;
}

.project p {
    font-size: 13px;
    margin: 0;
}

.projectLink {
    display: inline-block;
    margin-top: 10px;
    color: #06e0f0;
    text-decoration: none;
    border: 1px solid #06e0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

#connect{
    background-color: rgb(43, 42, 42);
    padding: 50px 0 10px 0;
    color: white;
}

#connect > h1{
    text-align: center;
}

.connect-links{
    width: 85%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
}

.connect-links > li{
    margin: 0 30px;
}

.connect-links > li .fa-brands, .fa-solid {
    font-size: 1.25rem;
    padding: 8px;
    border: 1px solid #06e0f0;
    border-radius: 50%;
    margin-bottom: 20px;
    color: #06e0f0;
}

.connect-links > li .fa-brands:hover, .fa-solid:hover{
    background-color: #06e0f0;
    color: rgb(43, 42, 42);
}

#connect > h4{
    font-size: 12px;
    text-align: center;
    color: gray;
}


@media (max-width:599px) {

    #hero img {
        width: 100%;
    }

    .header {
        padding: 10px;
    }

    .header>.navlinks {
        display: none;
    }

    .hero-main {
        flex-direction: column-reverse;
    }

    .hero-main-img {
        width: 70%;
        margin: auto;
    }

    .hero-main-txt,
    .about-main-txt {
        width: 95%;
        margin: auto;
        padding: 15px 0;
    }

    .about-main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about-main-img {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .about-main-img img {
        width: 70%;
        padding: 30px 0 10px 0;
    }

    .skill {
        max-width: 90%;
    }

    .project-main> h1, .project-main> p{
        text-align: center;
    }

    .project{
        width: 80%;
        margin: 0 auto;
    }

    #connect > h1{
        font-size: 1.7rem;
    }

    .connect-links > li{
        margin: 0 25px;
    }
}

@media (min-width:600px) and (max-width:850px) {
    html {
        font-size: 14.6px;
    }

    .hero-main,
    .about-main {
        width: 90%;
    }

    .hero-main-txt {
        width: 45%;
    }

    .hero-main-img {
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-main-img img {
        width: 320px;
    }

    .about-main-img img {
        width: 170px;
    }

}

@media (min-width:600px) and (max-width:1150px) {
    .header{
        padding: 15px 30px;
    }
    
    .skill {
        width: 90%;
    }

    .project{
        width: 40%;
        margin: 0 auto;
    }

    .project-flex{
        row-gap: 30px;
    }
}
