*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/ab180a27-b661-44d7-a6d9-940cb32f2f4a/7fb62e44-31fd-4e1f-b6ad-0b5c8c2a20ef/IN-en-20231009-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.hero::after{
    content:"";
    background-color: rgba(0, 0, 0, 0.57);
    width: 100%;
    height: inherit;
    position:absolute;
    top: 0;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    z-index: 999;
    margin-bottom: 50px;
}

.logo{
    width: 150px;
    filter:brightness(0.9);
}

.header-btn{
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-btn > select{
    padding: 5px 15px;
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    color: white;
    border-radius: 0.2rem;
    font-weight: normal;
}

.header-btn > a{
    padding: 8px 12px;
    font-size: 1rem;
    background-color: #e50914;
    outline: none;
    color: white;
    border-radius: 0.2rem;
    text-decoration: none;
    font-weight: normal;
}

.content{
    width: 70%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    z-index: 999;
}

.bigH{
    font-size: 3rem;
    font-weight: 999;
    color: #ffffff;
    margin-bottom:10px;
}

.Big-P{
    font-size: 1.5rem;
    color: #ffffff;
}

.Small-H{
    font-size: 1.25rem;
    color: #ffffff;
}

.heroP{
    font-weight: normal;
}

.email-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.email-btn > input[type="text"]{
    padding: 15px;
    outline: none;
    width: 40%;
    background-color: #23232396;
    border: 1px solid #ffffff93;
    color: rgba(255, 255, 255, 0.656);
    font-size: 1.2rem;
    border-radius: 0.3rem;
}

.email-btn > input[type="text"]::placeholder{
    color:rgba(255, 255, 255, 0.656);
    font-size: 0.9rem;
}

.email-btn > input[type="button"]{
    padding: 0 35px;
    background-color: #e50914;
    border: 0;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    color: #ffffff;
}

.up-section{
    padding-top: 50px;
    position: relative;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
    background-color: #000;
}

.up-section > *{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87%;
}

.graphic-sect1{
    position: relative;
}

.graphic-sect1 > img{
    width: 100%;
}

.graphic-sect1 > video{
    position: absolute;
    top: 20%;
    left: 13%;
    z-index: -99;
    width: 73%;
}

.section2 > img{
    width: 45%;
}

.graphic-sect3{
    position: relative;
    width:100%;
}

.graphic-sect3 > img{
    width: 100%;
}

.graphic-sect3 > video{
    position: absolute;
    top: 7%;
    left: 19%;
    z-index: -99;
    width: 61%;
}

.section4 > img{
    width: 46%;
}

.qna-section{
    position: relative;
    z-index: 100;
    background-color: #000;
    margin: 8px 0;
    padding: 50px 0;
}

.qna-box{
    text-align: center;
    width: 75%;
    margin: auto;
}

.ques{
    margin: 40px 0;
    width: 100%;
}

.ques > *{
    background-color: #302f2f;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
}

.ques > *:hover{
    background-color: #444444;;
}

.qna-btn{
    margin:25px auto 0 auto;
}

footer{
    position:relative;
    z-index:999;
    background-color: #000;
    color: #ffffffdc;
    text-align: left;
}

footer a{
    color: #ffffffdc;
}

footer > div{
    padding-top: 30px;
    width: 75%;
    margin: auto;
}

ul{
    list-style: none;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding:0;
    margin: 20px 0 30px 0;
}

li{
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

footer select{
    padding: 5px 15px;
    font-size: 1rem;
    background-color: #1a1919;
    outline: none;
    color: white;
    border-radius: 0.2rem;
    font-weight: normal;
}

footer > div > div {
    padding: 20px 0;
}

footer .botm{
    font-size: 14px;
}

@media (max-width:599px){
    .email-btn{
        flex-direction: column;
    }

    .email-btn > input[type="text"]{
        width: 80%;
        margin:auto;
    }

    .email-btn > input[type="button"]{
        padding: 12px;
        width: 50%;
        margin: auto;
        margin-bottom: 20px;
    }

    .qna-btn{
        width: 90%;
    }

    .qna-btn > input[type="text"]{
        width: 100%;
    }

    .qna-btn > input[type="button"]{
        width: 170px;
    }
}

@media (max-width:959px){
    body{
        position: relative;
        z-index: -999;
        text-align: center;
    }

    .logo{
        width: 100px;
    }

    .header-btn > *{
        font-size: 0.8rem;
    }

    .content{
        width:89%;
    }

    .small-H{
        font-size:1.125rem;
        line-height:1.5;
        font-weight:400;
    }

    .email-btn{
        padding-bottom:20px;
    }

    .up-section > *{
        flex-direction: column;
        width:88%;
        height: 100%;
        margin-bottom: 80px;
    }

    .section2,.section4{
        flex-direction: column-reverse;
    }

    .up-section img{
        width: 100%;
    }

    .graphic-sect1 > video{
        top: 20%;
        left: 13%;
        width: 74%;
    }
    
    .graphic-sect3 > video{
        top: 7%;
        left: 17%;
        width: 64%;
    }

    .hero{
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: 1% 25%;
    }

    .bigH{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 16px;
    }

    .Big-P{
        font-size: 1.125rem;
        font-weight: 400;
        line-height:1.2;
    }

    footer > div{
        width: 95%;
    }

    footer ul{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:950px) and (max-width:1200px) {
    .hero{
        height: 600px;
    }

    .up-section{
        height: 500px;
    }

    footer > div{
        width:90%;
    }
}

@media (max-width:1279px) {
   
    .header{
        padding: 0 20px;
    }

    .qna-box{
        width: 92%;
    }

}

@media (min-width:1280px){
    .qna-section{
        padding: 70px 0;
    }
}